spring:
    gateway:
      server:
        webflux:
          routes:
            - id: user-manager
              uri: lb://user-manager
              predicates:
                - Path=/user-manager/**
              filters:
                - RewritePath=/user-manager/(?<segment>.*), /$\{segment}

            - id: mall-service
              uri: lb://mall-service
              predicates:
                - Path=/mall/**
              filters:
                - RewritePath=/mall/(?<segment>.*), /$\{segment}

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true