server:
  port: 6969
spring:
  application:
    name: config-server
  profiles:
    include: native
  cloud:
    config:
      server:
        native:
          searchLocations: ${CONFIG_SEARCH_LOCATIONS:file:/home/tunk/coding/company/vti/vti-vmall-project/config-server/configs}

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true